#colordisplay{
    margin: 0 auto;
    height: 120px;
    background-color: rgb(0, 0, 0);
    width: 95%;
   
    text-align: center;
    color: white;

}

#rgbdisp{
    padding-top: 45px;
    font-size: larger;
}

#button{
    font-family: Verdana;
    margin-left: 2.5%;
    border-radius: 10px;
    height: 50px;
    box-shadow: 3px 3px 8px grey;
    border: none;
    width: 95%;
    font-size: 20px;
    color: rgb(255, 253, 253);
    background-image: linear-gradient(to right, crimson , rgb(192, 164, 3));
}

input{
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    height: 30px;
}

#info{
    margin-left: 2.5%;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 5px;
    border: none;
    width: 95%;
    font-size: 20px;
    color: rgb(255, 253, 253);
    background-color: rgb(48, 48, 48);
    font-family: Verdana;
}

